.table-orange {
  .col-17 {
    width: 150px;
  }
  .col-25 {
    width: 250px;
  }
  .col-35 {
    width: 350px;
  }
  th {
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    color: #333;
    background: #fff8f2;
    font-weight: 500;
    & ~ th {
      border-left: 1px solid #ddd;
    }
  }
  td {
    font-size: 18px;
    color: #333;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    & ~ td {
      border-left: 1px solid #ddd;
    }
    &.bg-gray {
      background: #fcfcfc;
    }
    p {
      line-height: 30px;
    }
  }
  @media screen and (max-width: 1024px) {
    .col-17 {
      width: 100px;
    }
    .col-25 {
      width: 150px;
    }
    td {
      padding: 10px 15px;
    }
  }
  @media screen and (max-width: 768px) {
    th {
      line-height: 40px;
      font-size: 16px;
    }
    td {
      padding: 10px;
      font-size: 16px;
    }
  }
}

.company {
  .top-txtBox {
    background: #f9f9f9;
    box-shadow: 3px 3px 10px 0px rgba(51, 51, 51, 0.2);
    padding: 25px 0;
    p {
      text-align: center;
    }
    @media screen and (max-width: 1024px) {
      padding: 10px;
      p {
        word-break: keep-all;
        br {
          display: none;
        }
      }
    }
  }
  .categoryBtn {
    margin-bottom: 25px;
    a {
      @apply flex-1 text-center;
      font-size: 25px;
      color: #333;
      line-height: 80px;
      background: #f5f5f5;
      &.active {
        color: #fff;
        background: #555;
      }
    }
    @media screen and (max-width: 1024px) {
      a {
        font-size: 20px;
        line-height: 60px;
      }
    }
    @media screen and (max-width: 768px) {
      @apply flex-col;
      display: block;
      a {
        font-size: 16px;
        line-height: 50px;
        border-bottom: 1px solid #ddd;
        display: block;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
  .sub-category {
    a {
      font-size: 20px;
      color: #333;
      &.active {
        color: #ff7e00;
      }
    }
    .bar {
      font-size: 20px;
      color: #333;
      margin: 0 20px;
    }
    @media screen and (max-width: 768px) {
      a {
        font-size: 18px;
      }
      .bar {
        font-size: 18px;
      }
    }
    @media screen and (max-width: 468px) {
      a {
        font-size: 16px;
      }
      .bar {
        font-size: 16px;
        margin: 0 10px;
      }
    }
  }
  .subTit {
    font-size: 25px;
    color: #333;
    font-weight: 500;
    margin-bottom: 20px;
    @media screen and (max-width: 968px) {
      font-size: 20px;
    }
  }
  .i-tit {
    margin-bottom: 40px;
    h3 {
      font-size: 30px;
      color: #333;
      font-weight: 500;
      padding-left: 25px;
      background: url("../images/i-ci.png") no-repeat left center;
    }
    p {
      font-size: 20px;
      color: #333;
      line-height: 32px;
      font-weight: 500;
      & ~ p {
        margin-top: 15px;
      }
      span {
        &.orange {
          color: #ff7e00;
        }
        &.blue {
          color: #20b1a8;
        }
      }
    }
    @media screen and (max-width: 1024px) {
      margin-bottom: 30px;
      h3 {
        font-size: 25px;
        background-size: auto 25px;
      }
      p {
        font-size: 18px;
        line-height: 1.5em;
      }
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 15px;
      h3 {
        font-size: 20px;
        background-size: auto 20px;
        margin-bottom: 10px;
      }
    }
  }
  .dots-orange {
    padding-left: 20px;
    @apply relative;
    font-size: 20px;
    color: #333;
    line-height: 32px;
    &::before {
      content: "";
      display: block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #ff7e00;
      @apply absolute;
      left: 0;
      top: 0.5em;
    }
    @media screen and (max-width: 768px) {
      font-size: 18px;
      line-height: 1.5em;
      br {
        display: none;
      }
    }
  }
  .borderBtn {
    a {
      padding: 0 40px;
      line-height: 50px;
      font-size: 20px;
      color: #ff7e00;
      border: 2px solid #ff7e00;

      i {
        margin-right: 5px;
      }
      &.blue {
        color: #0a4595;
        border: 2px solid #0a4595;
      }
    }
    @media screen and (max-width: 768px) {
      a {
        width: 100%;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    @media screen and (max-width: 500px) {
      a {
        font-size: 16px;
        line-height: 40px;
      }
    }
  }
}
.company__info {
  .box1 {
    .row {
      margin-bottom: 35px;
    }
    .row1 {
      .left {
        background: url("../images/gradient-bg1.png") no-repeat center;
      }
    }
    .row2 {
      .left {
        background: url("../images/gradient-bg2.png") no-repeat center;
      }
    }
    .row3 {
      .left {
        background: url("../images/gradient-bg3.png") no-repeat center;
      }
    }
    .left {
      @apply flex-none;
      font-size: 25px;
      color: #333;
      font-weight: 500;
      width: 260px;
      height: 75px;
      line-height: 75px;
      margin-right: 35px;
      padding-left: 90px;
      letter-spacing: -0.05em;
    }
    .right {
      p {
        font-size: 18px;
        color: #333;
        font-weight: 500;
        line-height: 30px;
      }
    }
    @media screen and (max-width: 1024px) {
      .row {
        margin-bottom: 0px;
        @apply flex-col;
        border-bottom: 1px solid #ddd;
        padding: 15px 0;
      }
      .row1 {
        .left {
          background-size: contain;
        }
      }
      .row2 {
        .left {
          background-size: contain;
        }
      }
      .row3 {
        .left {
          background-size: contain;
        }
      }
      .left {
        margin-bottom: 10px;
        font-size: 20px;
        height: 65px;
        line-height: 65px;
      }
      .right {
        p {
          font-size: 18px;
          color: #333;
          font-weight: 500;
          line-height: 24px;
          padding-left: 20px;
        }
      }
    }
    @media screen and (max-width: 540px) {
      .row {
        @apply items-center;
      }
      .left {
        font-size: 18px;
        height: 60px;
        line-height: 60px;
      }
      .right {
        p {
          font-size: 16px;
        }
      }
    }
  }
  .table {
    border-style: solid;
    border-image: linear-gradient(
      90deg,
      rgba(255, 126, 0, 1) 0%,
      rgba(142, 152, 85, 1) 51%,
      rgba(30, 177, 169, 1) 100%
    );
    border-image-width: 2px 0 0 0;
    border-image-slice: 1;

    .col1 {
      width: 400px;
    }
    td {
      &:nth-child(1) {
        font-weight: 500;
        @apply text-center;
      }
      padding: 15px 20px;
      @apply text-left;
    }
    @media screen and (max-width: 1024px) {
      .col1 {
        width: 300px;
      }
      td {
        padding: 10px;
      }
    }
  }
}
.company__ceo {
  .ceo__img {
    padding: 100px 0;
    background: url("../images/ceo-bg.png") no-repeat center;
    background-size: cover;
    margin-bottom: 35px;
    @apply relative;
    .img {
      @apply absolute;
      left: 50px;
      top: -50px;
    }
    h3 {
      font-size: 50px;
      font-weight: 500;
      margin-bottom: 15px;
      color: #ff7e00;
    }
    p {
      font-size: 25px;
      color: #333;
      font-weight: 500;
    }
  }
  @media screen and (max-width: 1024px) {
    .ceo__img {
      .img {
        width: 300px;
        left: 0px;
        top: auto;
        bottom: 0;
      }
      h3 {
        font-size: 25px;
      }
      p {
        font-size: 20px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .ceo__img {
      padding: 40px 10px 0;
      .img {
        @apply static;
        margin: 0 auto;
        margin-top: 20px;
        max-width: 80%;
      }
    }
  }
  .ceo__txt {
    .sign {
      margin-right: 90px;
      padding-left: 60px;
      flex: none;
      width: 365px;
      @media screen and (max-width: 768px) {
        width: 330px;
      }
      span {
        font-size: 18px;
        color: #333;
        &:nth-child(1) {
          margin-right: 10px;
          @apply flex-1;
        }
      }
    }
    .txt {
      p {
        font-size: 18px;
        color: #333;
        line-height: 30px;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    @media screen and (max-width: 1200px) {
      @apply flex-col items-center;
      display: block;
    }
    @media screen and (max-width: 768px) {
      .sign {
        margin-right: 0;
        padding-left: 0;
      }
      .txt {
        p {
          font-size: 16px;
          word-break: keep-all;
          br {
            display: none;
          }
        }
      }
    }
  }
}
.company__vision {
  @media screen and (max-width: 768px) {
    margin-top: 20px;
  }
}
.company__history {
  .tabBtn {
    @apply justify-center;
    margin-bottom: 80px;
    .links {
      @apply inline-block text-center;
      font-size: 22px;
      color: #aaa;
      width: 255px;
      line-height: 60px;
      border-radius: 2.5em;
      border: 1px solid #aaa;
      margin: 0 10px;
      font-weight: 500;
      &.active {
        background: #ff7e00;
        color: #fff;
        border: none;
      }
    }
    @media screen and (max-width: 1024px) {
      margin: 0 5px;
      margin-bottom: 20px;
    }
    @media screen and (max-width: 768px) {
      @apply flex-col;
      .links {
        width: auto;
        line-height: 45px;
        font-size: 20px;
        margin: 0;
        margin-bottom: 10px;
      }
    }
  }
  .tabCont {
    .tab__item {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  .row {
    .box {
      width: 50%;
    }
    .imgBox {
      @apply text-center;
      padding-top: 65px;
      img {
        @apply inline-block;
      }
    }
    .txtBox {
      padding-bottom: 100px;
      .history-list {
        @apply flex;
        flex-direction: column-reverse;
        li {
          margin-bottom: 15px;
        }
        p {
          font-size: 18px;
          color: #333;
          line-height: 24px;
          &.date {
            font-weight: 500;
          }
        }
      }
    }
    &.right {
      .txtBox {
        padding-left: 70px;
        border-left: 1px solid #ddd;
        @apply relative;
        &::before {
          content: "";
          display: block;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background: #ff7e00;
          @apply absolute;
          left: -6px;
          top: -6px;
          z-index: 2;
        }
        .tit {
          font-size: 35px;
          color: #ff7e00;
          font-weight: 600;
          top: -25px;
          @apply relative;
          &::before {
            content: "";
            display: block;
            width: 60px;
            height: 1px;
            background: #ddd;
            @apply absolute;
            left: -70px;
            top: 25px;
          }
        }
      }
    }

    &.left {
      .txtBox {
        padding-right: 70px;
        border-right: 1px solid #ddd;
        @apply relative text-right;
        &::before {
          content: "";
          display: block;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background: #ff7e00;
          @apply absolute;
          right: -6px;
          top: -6px;
          z-index: 2;
        }
        .tit {
          font-size: 35px;
          color: #ff7e00;
          font-weight: 600;
          top: -25px;
          @apply relative;
          &::before {
            content: "";
            display: block;
            width: 60px;
            height: 1px;
            background: #ddd;
            @apply absolute;
            left: auto;
            right: -70px;
            top: 25px;
          }
        }
      }
    }
    @media screen and (max-width: 1024px) {
      @apply flex-col items-center;
      padding: 20px 0;
      border-bottom: 1px solid #ddd;
      &:last-child {
        border-bottom: none;
      }
      .imgBox {
        width: 100%;
        padding-top: 0;
        margin-bottom: 20px;
      }
      .txtBox {
        width: 100%;
        padding-bottom: 0;
        margin-bottom: 0px;
      }
      &.right {
        .txtBox {
          @apply text-center;
          padding-left: 0px;
          border-left: none;
          &::before {
            display: none;
          }
          .tit {
            font-size: 30px;
            @apply static;
            margin-bottom: 10px;
            &::before {
              display: none;
            }
          }
        }
      }
      &.left {
        @apply flex-col-reverse;
        .txtBox {
          padding-right: 0px;
          border-right: none;
          @apply text-center;
          &::before {
            display: none;
          }
          .tit {
            font-size: 30px;
            @apply static;
            margin-bottom: 10px;
            &::before {
              display: none;
            }
          }
        }
      }
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      .imgBox {
        img {
          width: 100%;
        }
      }
    }
  }
}
.company__ci {
  .list-area {
    margin: 0 -20px;
    .item {
      width: 25%;
      padding: 0 20px;
      margin-bottom: 35px;
      .img {
        border: 1px solid #ddd;
        margin-bottom: 10px;
      }
      .download {
        height: 45px;
        background: #555;
        color: #fff;
        font-size: 18px;
        i {
          margin-right: 5px;
        }
      }
    }
    @media screen and (max-width: 968px) {
      margin: 0 -10px;
      .item {
        width: 33%;
        padding: 0 10px;
        margin-bottom: 20px;
        .download {
          height: 40px;
          font-size: 16px;
        }
      }
    }
    @media screen and (max-width: 540px) {
      .item {
        width: 50%;
      }
    }
  }
}
.ci__info {
  margin-bottom: 150px;
  .download-area {
    .img {
      margin-bottom: 15px;
    }
    .download-btn {
      font-size: 20px;
      color: #fff;
      font-weight: 500;
      padding-left: 25px;
      background: #e64c3c;
      height: 70px;
      i {
        margin-right: 5px;
      }
    }
  }
  .desc {
    .tit {
      font-size: 25px;
      color: #333;
    }
    .item {
      .color {
        font-size: 20px;
        width: 100px;
        height: 100px;
        color: #fff;
        @apply text-center;
        line-height: 100px;
        margin-bottom: 15px;
        &.red {
          background: #ed1c24;
        }
        &.blue {
          background: #0f5fad;
        }
      }
      p {
        font-size: 20px;
        color: #333;
        span {
          margin-right: 15px;
          font-size: 16px;
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    margin-bottom: 40px;
    .desc {
      @apply flex-col;
      .tit {
        margin-bottom: 10px;
        margin-right: 0;
      }
      .item {
        @apply flex items-center;
        margin-bottom: 20px;
        margin-right: 0;
        .color {
          margin-right: 20px;
          margin-bottom: 0;
          p {
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .download-area {
      @apply flex-col;
      margin-bottom: 20px;
      .item {
        margin-right: 0;
        margin-bottom: 30px;
      }
      .img {
        margin-bottom: 0px;
        img {
          @apply w-full;
        }
      }
      .download-btn {
        height: 50px;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .desc {
      .tit {
        @apply text-center;
      }
      .item {
        @apply block;
        .color {
          margin: 0 auto;
          margin-bottom: 20px;
        }
        p {
          @apply text-center justify-center;
        }
      }
    }
  }
  @media screen and (max-width: 400px) {
    .download-btn {
      font-size: 16px !important;
    }
  }
}
.ci__character {
  .character-info {
    margin-bottom: 50px;
    .img {
      border: 1px solid #ddd;
      margin-right: 40px;
      @apply text-center;
      padding: 50px 0;
      img {
        @apply inline-block;
      }
    }
    .txt {
      p {
        font-size: 20px;
        color: #333;
        line-height: 32px;
      }
    }
    @media screen and (max-width: 1024px) {
      @apply flex-col;
      display: block;
      .img {
        margin-right: 0;
        padding: 20px 0;
        margin-bottom: 15px;
      }
      .txt {
        p {
          font-size: 18px;
        }
      }
    }
    @media screen and (max-width: 430px) {
      .txt {
        p {
          br {
            display: none;
          }
        }
      }
    }
  }
  .character-emoticon {
    padding: 40px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  .character-wallpapers {
    padding: 40px 0;
    border-bottom: 1px solid #ddd;
    @media screen and (max-width: 430px) {
      .item {
        width: 100%;
        .img {
          img {
            @apply w-full;
          }
        }
      }
    }
  }
}
.company__management {
  .guidelines {
    padding: 20px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
  }
}
.company__act {
  .item {
    &.imgBox {
      border-bottom: 1px solid #ddd;
      padding-bottom: 70px;
    }
  }
  .txtBox {
    padding: 35px 55px;
    border: 1px solid #ddd;
    @apply relative;
    &::before {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      background: rgba(255, 126, 0, 0.1);
      @apply absolute;
      left: 25px;
      top: 25px;
    }
    p {
      font-size: 18px;
      color: #333;
      line-height: 40px;
    }
  }
  .i-tit {
    p {
      font-size: 18px;
      color: #555;
      font-weight: 500;
    }
  }
  .borderBtn {
    a {
      width: 400px;
      margin: 0 15px;
    }
  }
  @media screen and (max-width: 768px) {
    .item {
      margin-bottom: 50px;
    }
    .txtBox {
      padding: 20px;
      &::before {
        width: 40px;
        height: 40px;
        left: 10px;
        top: 10px;
      }
      p {
        line-height: 30px;
        @apply items-start;
      }
    }
    .borderBtn {
      @apply flex-col;
      a {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
      }
    }
  }
  @media screen and (max-width: 500px) {
    .txtBox {
      p {
        font-size: 16px;
      }
    }
  }
}
.company__convention {
  .list {
    .row {
      padding: 25px 0;
      border-bottom: 1px solid #ddd;
      .thumb {
        margin-right: 40px;
        width: 200px;
      }
      .info {
        width: calc(100% - 220px);
        .tit {
          font-size: 20px;
          color: #333;
          font-weight: 500;
          margin-bottom: 25px;
          .new {
            font-size: 11px;
            color: #fff;
            line-height: 22px;
            background: #ff7e00;
            padding: 0 15px;
            border-radius: 1.5em;
            margin-left: 5px;
          }
        }
        .txt {
          p {
            span {
              font-size: 18px;
              color: #555;
              line-height: 30px;
              &:nth-child(1) {
                width: 90px;
                @apply flex-none;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 768px) {
      .row {
        padding: 15px 0;
        .thumb {
          margin-right: 20px;
        }
        .info {
          .tit {
            font-size: 18px;
            margin-bottom: 15px;
          }
          .txt {
            p {
              @apply items-start;
              span {
                font-size: 16px;
                line-height: 1.5em;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 468px) {
      .row {
        a {
          @apply flex-col;
          display: block;
        }
        .thumb {
          @apply w-full;
          margin-right: 0;
          margin-bottom: 10px;
          width: 100%;
          img {
            width: 100%;
          }
        }
        .info {
          width: 100%;
        }
      }
    }
  }
}
.company__map {
  .map-area {
    margin-bottom: 20px;
    iframe {
      width: 100%;
      height: 450px;
    }
    @media screen and (max-width: 768px) {
      iframe {
        height: 230px;
      }
    }
  }
  .info {
    .col {
      width: 50%;
    }
    .row {
      margin-bottom: 25px;

      .tit {
        font-size: 20px;
        color: #ff7e00;
        font-weight: 500;
        margin-bottom: 10px;
      }
      p {
        font-size: 18px;
        color: #333;
        font-weight: 500;
        line-height: 24px;
      }
    }
    .travel {
      width: 25px;
      height: 25px;
      font-size: 16px;
      color: #fff;
      @apply text-center;
      line-height: 25px;
      margin-right: 5px;
      &.green {
        background: #3db432;
      }
      &.subway {
        border-radius: 50%;
        &.purple {
          background: #8936e0;
        }
      }
      &.bus {
        border-radius: 0.3em;
        &.blue {
          background: #496aeb;
        }
      }
    }
    @media screen and (max-width: 1024px) {
      @apply flex-col;
      .col {
        @apply w-full;
      }
    }
    @media screen and (max-width: 768px) {
      .row {
        .tit {
          font-size: 18px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}

.frame-content {
  position: relative;
  min-height: 400px;
  background: url('../images/frame-middle.png') repeat-y;
  background-size: 100% auto;

  .cont {
    position: relative;
    z-index: 5;
    text-align: center;
    padding: 60px 40px;
    @media screen and (max-width: 1220px) {
      padding: 30px;
    }
    @media screen and (max-width: 768px) {
      padding: 20px;
    }
    img {
      max-width: 25%;
      display: inline-block;
    }
    h2 {
      font-size: 30px;
      line-height: 1em;
      padding: 1em 0;
      @media screen and (max-width: 1220px) {
        font-size: 24px;
      }
      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
    }
    .dajim {
      padding:0 100px;
      margin: 50px 0;
      text-align: left;
      @media screen and (max-width: 1220px) {
        padding:0 50px;
        margin: 40px 0;
      }
      @media screen and (max-width: 768px) {
        padding:0 0px;
        margin: 30px 0;
      }
      li {
        font-size: 18px;
        line-height: 1.5em;
        word-break: keep-all;
        padding-left: 3em;
        position: relative;
        &:before {
          content:'하나. ';
          color:#0a4595;
          position: absolute;
          left: 0;
          top: 0;
          line-height:1.5em;
        }
        & ~ li {
          margin-top: .5em;
        }
        @media screen and (max-width: 1220px) {
          font-size: 16px;
        }
        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
    .orgname {
      @apply flex items-center;
      text-align: left;
      padding:10px 100px;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      @media screen and (max-width: 1220px) {
        padding:0px 50px;
      }
      @media screen and (max-width: 768px) {
        padding:0px 0px;
        display: block;
      }
      .img {
        width: 250px;
        flex: none;
        @media screen and (max-width: 1220px) {
          width: 200px;
        }
        @media screen and (max-width: 768px) {
          width: 100%;
          text-align: center;
          margin-top: 20px;
        }
        img {
          display: inline-block;
          max-width: 90%;
          @media screen and (max-width: 768px) {
            max-width: 50%;
          }
        }
      }
      .info {
        p {
          line-height: 1.75em;
          @media screen and (max-width: 768px) {
            text-align: center;
          }
        }
        span {
          color:#0a4595;
        }
      }
      p {
        text-align: left;
      }
    }
    p {
      font-size: 18px;
      line-height: 2em;
      margin: 1em 0;
      word-break: keep-all;
      @media screen and (max-width: 1220px) {
        font-size: 16px;
      }
      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
  .frame-top,
  .frame-bottom {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .frame-bottom {
    top: auto;
    bottom: 0;
  }
}
