<header class="mheader">
    <div class="left">
        <a href="">
            <span>한국장기조직기증원</span>
            <img src="./assets/images/email-logo.png" alt="">
        </a>
        <button>메일 작성시 유의사항</button>
    </div>

    <div class="right">
        <a href="">로그인</a>
        <a href="">
            <img src="./assets/images/main-sns-insta.png" alt="">
        </a>
        <a href="">
            <img src="./assets/images/main-sns-facebook.png" alt="">
        </a>
        <a href="">
            <img src="./assets/images/main-sns-blog.png" alt="">
        </a>
        <a href="">
            <img src="./assets/images/main-sns-youtube-white.png" alt="">
        </a>
    </div>
</header>
