
<div class="sub__lnb">
    <div class="row">
        <a href="" class="link active">기증희망등록</a>
        <div class="depth">
            <a href="" class="depth-link active">기증희망등록이란?</a>
            <a href="" class="depth-link">기증희망등록 신청</a>
        </div>
    </div>
    <div class="row">
        <a href="" class="link">기증희망등록</a>
        <div class="depth">
            <a href="" class="depth-link">기증희망등록이란?</a>
            <a href="" class="depth-link">기증희망등록 신청</a>
        </div>
    </div>
    <div class="row">
        <a href="" class="link">기증희망등록</a>
        <div class="depth">
            <a href="" class="depth-link">기증희망등록이란?</a>
            <a href="" class="depth-link">기증희망등록 신청</a>
        </div>
    </div>
</div>
