
<div class="sub__lnb">
    <h2>장기조직 기증</h2>

    <div class="row">
        <a href="./1-2.html" class="link">장기·조직 기증</a>
    </div>
    <div class="row">
        <a href="./1-2.html" class="link active">장기·조직 기증이란</a>
        <div class="depth">
            <a href="./1-2.html" class="depth-link">생명나눔이란 무엇인가요?</a>
            <a href="./1-3.html" class="depth-link">기증은 왜 필요한가요?</a>
            <a href="./1-4.html" class="depth-link">기증은 언제 이루어지나요?</a>
            <a href="./1-5.html" class="depth-link">장기기증</a>
            <a href="./1-6.html" class="depth-link">조직기증</a>
            <a href="./1-1.html" class="depth-link">한 눈에 보는 기증 흐름도</a>
        </div>
    </div>
    <div class="row">
        <a href="./1-8.html" class="link">기증팩트체크</a>
    </div>
    <div class="row">
        <a href="./1-9.html" class="link">KODA코디네이터</a>
    </div>
    <div class="row">
        <a href="./1-10.html" class="link">기증용어 설명</a>
    </div>
    <div class="row">
        <a href="./1-11-1.html" class="link">협약병원</a>
        <div class="depth">
            <a href="./1-11-1.html" class="depth-link">뇌사장기기증자 관리업무협약</a>
            <a href="./1-12.html" class="depth-link">DIP 협약병원</a>
            <a href="./1-13.html" class="depth-link">검사실 협약</a>
        </div>
    </div>
</div>
