
<div class="sub__lnb">
    <h2>기증자 예우</h2>

    <div class="row">
        <a href="./2-1.html" class="link active">가족지원 및 예우</a>
        <div class="depth">
            <a href="./2-2.html" class="depth-link">기증자 추모관</a>
            <a href="./2-4.html" class="depth-link">하늘나라 편지</a>
            <a href="./2-7.html" class="depth-link">수혜자 편지</a>
            <a href="./2-10.html" class="depth-link">기증자 추모 및 가족행사</a>
        </div>
    </div>
</div>
