
<div class="sub__lnb">
    <h2>의료진 페이지</h2>

    <div class="row">
        <a href="./8-1.html" class="link active">통보센터</a>
    </div>
    <div class="row">
        <a href="./8-2.html" class="link ">뇌사판정</a>
    </div>
    <div class="row">
        <a href="./8-3.html" class="link ">기증적합성평가</a>
    </div>
    <div class="row">
        <a href="./8-4.html" class="link ">장기 분배 시스템</a>
    </div>
    <div class="row">
        <a href="./8-5.html" class="link ">검사실(KODA LAB)</a>
    </div>
</div>
