{% extends 'layout/base.njk' %}

{% block content %}
    <div class="sub dip">
        <div class="sub__visual">
            <div class="sub__pagename">
                <div class="wrap">
                    <h2>장기·조직 기증</h2>
                    <p>누군가의 끝이 아니라 누군가의 시작</p>
                    <img class="img" src="./assets/images/sub-visual1.png" alt="">
                </div>
            </div>
            <div class="sub__navigation">
                <div class="wrap flex">
                    <a href="/" class="home">홈</a>
                    {% include './layout/nselect.njk' %}
                    {% include './layout/nselect.njk' %}
                    {% include './layout/nselect.njk' %}
                    <a href="" class="link">기증희망등록 신청</a>
                </div>
            </div>
        </div>

        <div class="sub__content">
            {% include './layout/lnb1.njk' %}
            <div class="wrap">
                <div class="sub__header">
                    <h2>DIP 협약기관</h2>
                </div>

                <div class="sub__tabs">
                    <a href="" class="active">DIP 소개</a>
                    <a href="">DIP 협약기관 현황</a>
                    <div class="select">
                        <button>조직기증 동의 시</button>
                        <div class="dropdown">
                            <a href="">DIP 소개</a>
                            <a href="">DIP 협약기관 현황</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="process">
                <div class="box box1">
                    <div class="wrap">
                        <h3>장기·조직기증 활성화 프로그램 프로세스</h3>
                        <div class="img"><img src="./assets/images/dip1.png" alt="" class="inline-block" style="max-width: 100%;"></div>
                    </div>
                </div>
                <div class="box box2">
                    <div class="wrap">
                        <h3>
                            <strong>장기·조직기증 활성화 프로그램</strong> (DIP : Donation Improvement Program)
                        </h3>
                        <p class="dots orange">
                            협약병원의 사업대상 ICU를 선정하여 협약 전·후 지속적으로 사망자 정보를 수집하고 이를 통해 뇌사추정자의 장기기증 과정 중단 시점 및 사유를 분석, 원내
                            장기기증 정책을 활성화 하고 잠재적 조직기증자의 발생 정도를 확인합니다.<br/>
                            또한 원내 의료진의 인식조사를 통해 뇌사장기기증 및 인체조직기증 관련 인식 개선을 도모하고 병원별 강점과 약점을 확인하여 자료를 제공하며, 이를 통해
                            병원별 개선점을 마련하는 원내 뇌사장기기증 및 인체조직기증 활성화를 위한 질 관리 프로그램입니다.
                        </p>
                    </div>
                </div>
                <div class="box box3">
                    <div class="wrap">
                        <h3>
                            <strong>DIP 위원회</stron> (DIPC : Donation Improvement Program Committee)</h3>
                        <div class="list flex">
                            <div class="item">
                                <div class="tit">DIP 위원회 구성</div>
                                <img src="./assets/images/i-dip1.png" alt="" class="img">
                                <div class="txt">
                                    <p>
                                        병원경영진, 신경외과 의료진 또는 신경과
                                        의료진, 응급의학과 의료진, 사업대상 중환
                                        자실 수간호사 포함 4~6인 이상으로 구성
                                        (위원장, 간사, DIP Link 선정)
                                    </p>
                                    <p class="small">DIP LINK : 뇌사추정자 인지 후 콜센터에 알리는 역할</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="tit">DIP 위원회 역할</div>
                                <img src="./assets/images/i-dip2.png" alt="" class="img">
                                <div class="txt">
                                    <p>
                                        협약병원 대상으로 기증 과정 단계를 평가하여 기증정책 마련 및 프로토콜 개선
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="tit">DIP 위원회 회의 내용 (연 2~3회)</div>
                                <img src="./assets/images/i-dip3.png" alt="" class="img">
                                <div class="txt">
                                    <p class="dots mint">
                                        MRR과 HAS 분석자료를 통한 병원의 기증 관련 강·약점 분석
                                    </p>
                                    <p class="dots mint">
                                        분석결과를 토대로 병원별 맞춤 기증 활성화 계획 수립

                                    </p>
                                    <p class="dots mint">
                                        장기·조직기증 사례 및 잠재적 장기조직 기증자 발굴을 위한 논의
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
