{% extends 'layout/base.njk' %}

{% block content %}
    <div class="sub sub1">
        <div class="sub__visual">
            <div class="sub__pagename">
                <div class="wrap">
                    <h2>장기·조직 기증</h2>
                    <p>누군가의 끝이 아니라 누군가의 시작</p>
                    <img class="img" src="./assets/images/sub-visual1.png" alt="">
                </div>
            </div>
            <div class="sub__navigation">
                <div class="wrap flex">
                    <a href="/" class="home">홈</a>

                    {% include './layout/nselect.njk' %}
                    {% include './layout/nselect.njk' %}
                    <a href="" class="link">기증희망등록 신청</a>
                </div>
            </div>
        </div>

        <div class="sub__content ">
            {% include './layout/lnb1.njk' %}
            <div class="wrap">
                <div class="section">
                    <h2 class="section__title">
                        조직기증
                    </h2>
                    <div class="section__list">
                        <h3 style="color:#e64c3c;">인체조직기증은 죽어서도 생명을 선물할 수 있는 나눔의 실천입니다.</h3>
                        <p class="notdot">
                            뇌사 또는 사망 후 피부, 뼈, 인대, 혈관 등의 인체조직을 기증하여 조직손상으로 기능적 장애가 있는 환자의 재건과
                            치료에 쓰입니다. (만 14세~80세까지 기증 가능)<br/>
                            <br/>
                            10대에서 많이 발생하는 골육종, 심한화상으로 미소를 잃은 어린 아이들은 누군가에게 기증 받은 뼈와 피부로
                            건강한 삶을 살 수 있습니다.<br/>
                            운동을 하다 십자인대를 다치거나
                            연골, 임플란트 수술 등 생활 곳곳에서 치료와 재건을위해 인체조직이 쓰여집니다.<br/>
                            <br/>
                            일상 속 선물 같은 조직기증,<br/>
                            내가 그 수혜자가 될 수 있습니다.<br/>
                            기증은 먼 곳에 있지 않습니다.
                        </p>
                    </div>
                </div>

                <div class="info-section sec5-mt">
                    <h3 class="info-section__title">
                        뇌사 또는 사망 시<span style="font-weight: 400;">(사망 후 24시간 이내)</span> 기증 가능한 조직
                    </h3>
                    <p class="info-section__description">
                        조직기증은 기증적합성 판정을 위한 추가적인 혈액검사 및 신체 사정 확인 후, 기증 여부가 결정됩니다.
                    </p>

                    {% set arr2 = [
                        { imgurl: './assets/images/kidney-13.png', title: '뼈와 연골', desc: '(골육종 등 뼈 손상시)' },
                        { imgurl: './assets/images/kidney-14.png', title: '심장판막·심낭', desc: '(심장판막 질환 판막이식 수술시)' },
                        { imgurl: './assets/images/kidney-15.png', title: '인대 및 건', desc: '(파열 인대 복원, 퇴행성 질환, 재해·사고·감염 등 인대 및 건 결손시)' },
                        { imgurl: './assets/images/kidney-16.png', title: '피부', desc: '(화상 등 피부 결손시)' },
                        { imgurl: './assets/images/kidney-17.png', title: '혈관', desc: '(혈관막힘, 관상동맥 우회술, 간·신장이식 등 수술시)' },
                        { imgurl: './assets/images/kidney-18.png', title: '신경', desc: '' },
                        { imgurl: './assets/images/kidney-19.png', title: '근막', desc: '' },
                        { imgurl: './assets/images/kidney-120.png', title: '양막', desc: '(생존시)' }
                    ]
                    %}
                    <div class="kidneytable">
                        {% for item in arr2 %}
                            <div class="item">
                                <div class="img"><img src="{{ item.imgurl }}" alt=""></div>
                                <div class="info">
                                    <h3>{{ item.title }}</h3>
                                    <p>{{ item.desc }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="sub__fullbox">
                <div class="sub__fullbox-tit">
                    <h2>
                        장기기증, <strong>한 사람의 삶이 다른 사람의 생명으로 이어지는 <span>희망</span></strong>입니다.
                    </h2>
                </div>
                <div class="wrap">

                    <img src="./assets/images/sub1-img.png" alt="" class="fullbox-img">
                    <div class="item">
                        <span><img src="./assets/images/sub1-i2.png" alt=""></span>
                        <p>조직기증</p>
                    </div>
                    <div class="item">
                        <span><img src="./assets/images/sub1-i3.png" alt=""></span>
                        <p>기증희망등록</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
