{% extends 'layout/base.njk' %}

{% block content %}
    <div class="sub sub1">
        <div class="sub__visual">
            <div class="sub__pagename">
                <div class="wrap">
                    <h2>장기·조직 기증</h2>
                    <p>누군가의 끝이 아니라 누군가의 시작</p>
                    <img class="img" src="./assets/images/sub-visual1.png" alt="">
                </div>
            </div>
            <div class="sub__navigation">
                <div class="wrap flex">
                    <a href="/" class="home">홈</a>
                    <div class="select">
                        <select name="" id="">
                            <option value="">장기·조직 기증</option>
                        </select>
                    </div>
                    <div class="select select--depth">
                        <select name="" id="">
                            <option value="">장기·조직 기증</option>
                        </select>
                    </div>
                    <div class="select select--depth">
                        <select name="" id="">
                            <option value="">생명나눔이란 무엇인가요?</option>
                        </select>
                    </div>
                    <a href="" class="link">기증희망등록 신청</a>
                </div>
            </div>
        </div>

        <div class="sub__content ">
            <div class="wrap">
                <div class="section">
                    <h2 class="section__title text-center">
                        기증팩트체크
                    </h2>
                </div>

                <div class="memorial__search-form mb-8">
                    <div class="select" style="margin:0;margin-right: 10px;">
                        <select name="" id="">
                            <option value="">전체</option>
                        </select>
                    </div>
                    <div class="input name mobile-mt-10">
                        <input type="text" placeholder="">
                    </div>
                    <button class="submit">검색하기</button>
                </div>

                <div class="search-tags">
                    <a href="">#기증가능장기</a>
                    <a href="">#기증가능장기</a>
                    <a href="">#기증가능장기</a>
                </div>

                <div class="faq">
                    {% for i in [1,2,3,4,5] %}
                    <div class="faq__item">
                        <button>
                            뇌사와 뇌사기증이란 무엇을 말하는 거죠?
                        </button>
                        <div class="faq__content">
                            각종 뇌질환이나 사고 등으로 전체 뇌의 기능이 손상되고 호흡 및 순환중추기능까지 상실하여 회복이 절대 불가하며,
                            인공호흡기를 부착하더라도 결국에는 심장박동이 정지되는 상태를 뇌사라고 합니다.
                            또한 정밀한 의학 검사를 통해 최종적으로 뇌사판정을 받았을 때 장기를 기증하는 것을 뇌사기증이라고 합니다.
                            <div class="etc">
                                <span>그 밖의 궁금한 사항은 자유게시판에 남겨주세요.</span>
                                <a href="">자유게시판에 문의하기</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}


{% block script %}
<script>
$(function(){
  $('.faq__item button').on('click', function(){
    $(this).toggleClass('active');
    $(this).next().slideToggle();
  })
})
</script>
{% endblock %}
