{% extends 'layout/base.njk' %}

{% block content %}
    <div class="sub memorial">
        <div class="sub__visual">
            <div class="sub__pagename">
                <div class="wrap">
                    <h2>기증자 예우</h2>
                    <p>누군가에게 새로운 생명을 선물한 당신, 잊지않고 기억하겠습니다.</p>
                    <img class="img" src="./assets/images/sub-visual2.png" alt="">
                </div>
            </div>
            <div class="sub__navigation">
                <div class="wrap flex">
                    <a href="/" class="home">홈</a>
                    {% include './layout/nselect.njk' %}
                    {% include './layout/nselect.njk' %}
                    <a href="" class="link">기증희망등록 신청</a>
                </div>
            </div>
        </div>
        <div class="sub__content">
            {% include './layout/lnb2.njk' %}
            <div class="wrap">
                <div class="sub__header">
                    <h2>하늘나라 편지</h2>
                </div>
                <div class="sub__tabs memorial">
                    <a href="./2-2.html" class="">기증자 추모관</a>
                    <a href="./2-4.html" class="active">하늘나라 편지</a>
                    <a href="./2-7.html" class="">수혜자 편지</a>
                    <a href="./2-8.html" class="">기증 후 스토리</a>


                    <div class="select">
                        <button>기증자 추모관</button>
                        <div class="dropdown">
                            <a href="" class="">기증자 추모관</a>
                            <a href="" class="">하늘나라 편지</a>
                            <a href="" class="">수혜자 편지</a>
                            <a href="" class="">기증 후 스토리</a>
                        </div>
                    </div>
                </div>


                <div class="memorial__message">
                    <div class="memorial__message-info">
                        <div class="imgbox">
                            <p>
                                기증자에 대한 그리움과 사랑을 담은 '하늘나라 편지'는
                                언제 어디서나 시간과 장소에 제약을 받지 않고 추모를 할 수 있는
                                온라인 공간으로 익명 작성이 가능합니다.
                            </p>
                        </div>
                        <div class="infobox">
                            <h2>하늘나라 편지 작성 시 확인하세요!</h2>
                            <ul>
                                <li>경건한 분위기에서 기증자분들을 추모할 수 있도록 협조 부탁드립니다.</li>
                                <li>비방이나 욕설 등 분위기를 해치는 내용은 관리자에 의해 임의 삭제될 수 있습니다.</li>
                                <li>게시글 작성시 개인정보 표기는 자제해주시기 바랍니다.</li>
                                <li>일부 게시글은 한국장기조직기증원 뉴스레터 및 타 매체에 원문의 의미를 훼손하지 않는 범위내에서 교정을 거쳐 익명으로 게재될 수 있습니다. </li>
                            </ul>

                            <div class="info-desc">
                                <p>
                                    한국장기조직기증원에서는 기증자 가족, 친지, 친구들의 하늘나라 편지로 < 선물 >이라는 사례집을
                                    출간하였습니다. 도서를 직접 받아보고 싶으신 분은 홍보팀으로 연락주시거나, 신청서를 작성해
                                    주세요.
                                </p>
                                <div class="flex">
                                    <a href="tel:02-542-5631" class="flex-1">홍보팀 02-542-5631</a>
                                    <a href="" class="flex-1">신청서 작성하기</a>
                                </div>
                            </div>

                            <a href="" class="write-button">
                                <strong>하늘나라 편지쓰기</strong>
                            </a>
                        </div>
                    </div>

                    <div class="memorial__search-form">
                        <div class="select" style="margin:0;margin-right: 10px;">
                            <select name="" id="">
                                <option value="">전체</option>
                            </select>
                        </div>
                        <div class="input name mobile-mt-10">
                            <input type="text" placeholder="">
                        </div>
                        <button class="submit">검색하기</button>
                    </div>

                    <div class="memorial__message-list">
                        {% for i in [1,1,1,1,2,2,2,2,2,2,2,2] %}
                            <div class="item">
                                <a href="">
                                    <header>
                                        <span class="count">3893번째 편지</span>
                                        <strong class="is_new">NEW</strong>
                                    </header>
                                    <h2 class="title">
                                        보고싶다.
                                    </h2>
                                    <div class="info">
                                        <div class="row">
                                            <span>기증자</span>
                                            <strong>김래원</strong>
                                        </div>
                                        <div class="row">
                                            <span>추모자</span>
                                            <strong>박재현</strong>
                                        </div>
                                    </div>
                                    <span class="foot">
                                        <span>2020-10-19</span>
                                        <span>조회 22</span>
                                        <span>댓글 0</span>
                                    </span>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    {% include './includes/pagination.njk' %}
                    <div class="action-button">
                        <a href="">하늘나라 편지쓰기</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
