{% extends 'layout/base-email.njk' %}

{% block content %}
<div class="esignup">
    <div class="wrap">

        <div class="email-end">
            <div class="icon"><img src="./assets/images/email-end-img.png" alt=""></div>

            <h2>회원탈퇴가 완료되었습니다.</h2>
            <p>
                그동안 생명나눔우체통을 이용해 주셔서 감사합니다.
            </p>
        </div>

        <div class="actions mt-12">
            <a href="" class="green">확인</a>
        </div>
    </div>
</div>

    {% endblock %}
