{% extends 'layout/base-email.njk' %}

{% block content %}
    <div class="esignup">
        <div class="wrap">
            <h2 class="e-title">기증자 가족 회원가입</h2>
            <div class="esignup__process">
                <div class="col">
                    <div class="icon">
                        <img src="./assets/images/eprocess-1.png" alt="">
                    </div>
                    <p>회원구분</p>
                </div>
                <div class="col">
                    <div class="icon">
                        <img src="./assets/images/eprocess-2-active.png" alt="">
                    </div>
                    <p>회원선택</p>
                </div>
                <div class="col">
                    <div class="icon">
                        <img src="./assets/images/eprocess-3.png" alt="">
                    </div>
                    <p>약관동의</p>
                </div>
                <div class="col">
                    <div class="icon">
                        <img src="./assets/images/eprocess-4.png" alt="">
                    </div>
                    <p>본인인증</p>
                </div>
                <div class="col">
                    <div class="icon">
                        <img src="./assets/images/eprocess-5.png" alt="">
                    </div>
                    <p>정보입력</p>
                </div>
                <div class="col">
                    <div class="icon">
                        <img src="./assets/images/eprocess-6.png" alt="">
                    </div>
                    <p>가입완료</p>
                </div>
            </div>
            <div class="esignup-type">
                <div class="col">
                    <div class="icon"><img src="./assets/images/eprocess-2-img1.png" alt="" style="height: 150px;"></div>
                    <h3>일반회원</h3>
                    <a href="">14세 이상 가입하기</a>
                </div>
                <div class="col">
                    <div class="icon"><img src="./assets/images/eprocess-2-img2.png" alt="" style="height: 150px;"></div>
                    <h3>어린이회원</h3>
                    <a href="" class="black">14세 미만 가입하기</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
