{% extends 'layout/base-email.njk' %}

{% block content %}
    <div class="esignup">
        <div class="wrap">
            <h2 class="e-title">기증자 가족 회원가입</h2>
            <div class="esignup__process">
                <div class="col">
                    <div class="icon">
                        <img src="./assets/images/eprocess-1.png" alt="">
                    </div>
                    <p>회원구분</p>
                </div>
                <div class="col">
                    <div class="icon">
                        <img src="./assets/images/eprocess-2.png" alt="">
                    </div>
                    <p>회원선택</p>
                </div>
                <div class="col">
                    <div class="icon">
                        <img src="./assets/images/eprocess-3.png" alt="">
                    </div>
                    <p>약관동의</p>
                </div>
                <div class="col">
                    <div class="icon">
                        <img src="./assets/images/eprocess-4-active.png" alt="">
                    </div>
                    <p>본인인증</p>
                </div>
                <div class="col">
                    <div class="icon">
                        <img src="./assets/images/eprocess-5.png" alt="">
                    </div>
                    <p>정보입력</p>
                </div>
                <div class="col">
                    <div class="icon">
                        <img src="./assets/images/eprocess-6.png" alt="">
                    </div>
                    <p>가입완료</p>
                </div>
            </div>
            <div class="esignup-type">
                <div class="col">
                    <div class="icon"><img src="./assets/images/eprocess-4-img1.png" alt="" style="height: 150px;"></div>
                    <p>
                        본인명의로 등록된 휴대폰을 통해<br/>
                        본인확인을 받을 수 있는 서비스 입니다.
                    </p>
                    <a href="" class="black">휴대폰 인증하기</a>
                </div>
                <div class="col">
                    <div class="icon"><img src="./assets/images/eprocess-4-img2.png" alt="" style="height: 150px;"></div>
                    <p>
                        개인식별 번호를 발급받아 인터넷상에서<br/>
                        본인확인을 받을 수 있는 서비스 입니다.
                    </p>
                    <a href="" class="black">아이핀(i-PIN) 인증하기</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
