{% extends 'layout/base.njk' %}

{% block content %}
    <div class="sub promote">
        <div class="sub__visual">
            <div class="sub__pagename">
                <div class="wrap">
                    <h2>홍보·자료</h2>
                    <p>한국장기조직기증원의 다양한 소식 및 자료</p>
                    <img class="img" src="./assets/images/sub-visual5.png" alt="">
                </div>
            </div>
            <div class="sub__navigation">
                <div class="wrap flex">
                    <a href="/" class="home">홈</a>
                    {% include './layout/nselect.njk' %}
                    {% include './layout/nselect.njk' %}
                    {% include './layout/nselect.njk' %}
                    <a href="" class="link">기증희망등록 신청</a>
                </div>
            </div>
        </div>

        <div class="sub__content ">
            {% include './layout/lnb5.njk' %}
            <div class="wrap">
                <div class="sub__header">
                    <h2>연간보고서</h2>
                </div>
                <div class="promote__select flex ml-auto">
                    <select name="" id="">
                        <option value="">연간보고서</option>
                        <option value="">뉴스레터</option>
                        <option value="">사례집</option>
                    </select>
                </div>
                <div class="memorial__detail-content">
                    <div class="promote__publication flex flex-wrap">
                        {% for i in[
                            1,
                            1,
                            1,
                            1,
                            2,
                            2,
                            2,
                            2,
                            2,
                            2,
                            2
                        ] %}
                            <div class="item">
                                <div class="imgBox relative">
                                    <div class="img">
                                        <img src="./assets/images/publication-bg.png" alt="">
                                    </div>
                                    <div class="button flex absolute">
                                        <a href="" class="zoomin inline-block">확대</a>
                                        <a href="" class="download inline-block">다운로드</a>
                                    </div>
                                </div>
                                <div class="txtBox">
                                    <div class="title">2018 가족관리 리플릿</div>
                                    <div class="date">2020-11-02</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {% include './includes/pagination.njk' %}
            </div>
        </div>
    </div>
{% endblock %}
