{% extends 'layout/base.njk' %}

{% block content %}
    <div class="sub promote">
        <div class="sub__visual">
            <div class="sub__pagename">
                <div class="wrap">
                    <h2>홍보·자료</h2>
                    <p>한국장기조직기증원의 다양한 소식 및 자료</p>
                    <img class="img" src="./assets/images/sub-visual5.png" alt="">
                </div>
            </div>
            <div class="sub__navigation">
                <div class="wrap flex">
                    <a href="/" class="home">홈</a>
                    {% include './layout/nselect.njk' %}
                    {% include './layout/nselect.njk' %}
                    <a href="" class="link">기증희망등록 신청</a>
                </div>
            </div>
        </div>

        <div class="sub__content">
            {% include './layout/lnb5.njk' %}
            <div class="wrap relative">
                <div class="sub__header">
                    <h2>소통게시판</h2>
                    <p>
                        악의적인 비방, 비속어, 욕설 등 사이트 운영 목적에 부합하지 않는 글은 관리자에 의해 삭제 될 수 있습니다.
                    </p>
                </div>
                <div class="memorial__search-form mb-8">
                    <div class="select" style="margin:0;margin-right: 10px;">
                        <select name="" id="">
                            <option value="">전체분류</option>
                            <option value="">공지사항</option>
                            <option value="">채용</option>
                            <option value="">입찰</option>
                            <option value="">홍보</option>
                        </select>
                    </div>
                    <div class="select" style="margin:0;margin-right: 10px;">
                        <select name="" id="">
                            <option value="">전체</option>
                        </select>
                    </div>
                    <div class="input name mobile-mt-10">
                        <input type="text" placeholder="">
                    </div>
                    <button class="submit">검색하기</button>
                </div>
                <div class="memorial__detail-content">
                    <div class="table promote__table effectNone write">
                        <table>
                            <colgroup>
                                <col class="col1">
                                <col width="">
                                <col class="col3">
                                <col class="col3">
                                <col class="col4">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>등록일</th>
                                    <th>조회수</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="top">
                                    <td class="">
                                        <img src="./assets/images/survey.png" alt="" class="inline-block">
                                    </td>
                                    <td>
                                        <a href="" class="">자기의사결정 존중에 대해 어떻게 생각하시나요?</a>
                                    </td>
                                    <td>KODA</td>
                                    <td>2020-10-06</td>
                                    <td>24</td>
                                </tr>
                                <tr class="">
                                    <td class="">
                                        252
                                    </td>
                                    <td class="title">
                                        <a href="" class="secret">
                                            자기의사결정 존중에 대해 어떻게 생각하시나요?
                                        </a>
                                        <span>1</span>
                                    </td>
                                    <td>홍길동</td>
                                    <td>2020-10-06</td>
                                    <td>24</td>
                                </tr>
                                <tr class="">
                                    <td class="">
                                        252
                                    </td>
                                    <td class="title">
                                        <a href="" class="">
                                            자기의사결정 존중에 대해 어떻게 생각하시나요?
                                        </a>
                                        <span>1</span>
                                    </td>
                                    <td>홍길동</td>
                                    <td>2020-10-06</td>
                                    <td>24</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                {% include './includes/pagination.njk' %}
                <div class="action-button">
                    <a href="">글쓰기</a>
                </div>
            </div>
        </div>
    </div>

    <div class="popup-wrap">
        <div class="popup__bg"></div>
        <div class="popup">
            <div class="popup__tit">
                비밀번호 입력
            </div>
            <div class="popup__form">
                <div class="row flex">
                    <div class="tit">비밀번호</div>
                    <div class="input">
                        <input type="text">
                    </div>
                </div>
            </div>
            <div class="form-actions justify-center">
                <button class="btn submit">확인</button>
                <a href="#//" class="btn" onclick="$('.popup-wrap').hide();">닫기</a>
            </div>
        </div>
    </div>
{% endblock %}
