{% extends 'layout/base.njk' %}

{% block content %}
    <div class="sub promote">
        <div class="sub__visual">
            <div class="sub__pagename">
                <div class="wrap">
                    <h2>홍보·자료</h2>
                    <p>한국장기조직기증원의 다양한 소식 및 자료</p>
                    <img class="img" src="./assets/images/sub-visual5.png" alt="">
                </div>
            </div>
            <div class="sub__navigation">
                <div class="wrap flex">
                    <a href="/" class="home">홈</a>
                    {% include './layout/nselect.njk' %}
                    {% include './layout/nselect.njk' %}
                    {% include './layout/nselect.njk' %}
                    <a href="" class="link">기증희망등록 신청</a>
                </div>
            </div>
        </div>

        <div class="sub__content">
            {% include './layout/lnb5.njk' %}
            <div class="wrap">
                <div class="sub__header">
                    <h2>생명나눔 스토리</h2>
                    <div class="top-txtBox flex items-center">
                        <div class="img">
                            <img src="./assets/images/story-top-img.png" alt="">
                        </div>
                        <div class="txt">
                            <h3 class="flex items-center">
                                <span>가슴 따뜻해지는 생명 나눔 이야기</span>를 소개합니다.
                            </h3>
                            <p>
                                생명 나눔을 실천한 고귀한 분들의 이야기, 장기 수혜를 통해 새 삶을 얻은 감동 스토리를 소개합니다.<br/>
                                생명나눔 스토리를 통해 장기·조직 기증의 진짜 의미를 되새겨보시길 바랍니다.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="promote__select flex ml-auto">
                    <select name="" id="">
                        <option value="">웹콘텐츠</option>
                        <option value="" selected>생명나눔 스토리</option>
                    </select>
                </div>
                <div class="memorial__detail-content">
                    <div class="promote__publication flex flex-wrap pr">
                        {% for i in[
                            1,
                            1,
                            1,
                            1,
                            2,
                            2,
                            2,
                            2,
                            2,
                            2,
                            2
                        ] %}
                            <div class="item">
                                <a href="" class="inline-block">
                                    <div class="imgBox">
                                        <div class="img">
                                            <img src="./assets/images/publication-bg3.png" alt="">
                                        </div>
                                    </div>
                                    <div class="txtBox">
                                        <div class="title">
                                        닥터프렌즈와 함께하는 생생한 생명나눔 Story
                                    </div>
                                        <div class="date flex items-center">
                                        2020-11-02
                                        <span class="clip ml-auto">
                                                <img src="./assets/images/clip.png" alt="">
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {% include './includes/pagination.njk' %}
            </div>
        </div>
    </div>
{% endblock %}
