{% extends 'layout/base.njk' %}

{% block content %}
    <div class="sub promote">
        <div class="sub__visual">
            <div class="sub__pagename">
                <div class="wrap">
                    <h2>홍보·자료</h2>
                    <p>한국장기조직기증원의 다양한 소식 및 자료</p>
                    <img class="img" src="./assets/images/sub-visual5.png" alt="">
                </div>
            </div>
            <div class="sub__navigation">
                <div class="wrap flex">
                    <a href="/" class="home">홈</a>
                    <div class="select">
                        <select name="" id="">
                            <option value="">홍보·자료</option>
                        </select>
                    </div>
                    <div class="select select--depth">
                        <select name="" id="">
                            <option value="">기관소식</option>
                        </select>
                    </div>
                    <div class="select select--depth">
                        <select name="" id="">
                            <option value="">공지사항</option>
                        </select>
                    </div>
                    <a href="" class="link">기증희망등록 신청</a>
                </div>
            </div>
        </div>

        <div class="sub__content">
            {% include './layout/lnb.njk' %}
            <div class="wrap">
                <div class="sub__header">
                    <h2>공지사항</h2>
                </div>
                <div class="memorial__search-form mb-8">
                    <div class="select" style="margin:0;margin-right: 10px;">
                        <select name="" id="">
                            <option value="">전체분류</option>
                            <option value="">공지사항</option>
                            <option value="">채용</option>
                            <option value="">입찰</option>
                            <option value="">홍보</option>
                        </select>
                    </div>
                    <div class="select" style="margin:0;margin-right: 10px;">
                        <select name="" id="">
                            <option value="">전체</option>
                        </select>
                    </div>
                    <div class="input name mobile-mt-10">
                        <input type="text" placeholder="">
                    </div>
                    <button class="submit">검색하기</button>
                </div>
                <div class="memorial__detail-content">
                    <div class="table promote__table effectNone">
                        <table>
                            <colgroup>
                                <col class="col1">
                                <col class="col1">
                                <col class="col">
                                <col class="col3">
                                <col class="col4">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>구분</th>
                                    <th>제목</th>
                                    <th>등록일</th>
                                    <th>조회수</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>253</td>
                                    <td>입찰</td>
                                    <td>
                                        <a href="">
                                           e나라도움 연계시스템 구축  
                                        </a>
                                    </td>
                                    <td>2020-10-06</td>
                                    <td>24</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                {% include './includes/pagination.njk' %}
            </div>
        </div>
    </div>
{% endblock %}