{% extends 'layout/base.njk' %}

{% block content %}
    <div class="sub promote">
        <div class="sub__visual">
            <div class="sub__pagename">
                <div class="wrap">
                    <h2>정보공개</h2>
                    <p>기증/이식 현황 등을 한눈에 보실 수 있습니다.</p>
                    <img class="img" src="./assets/images/sub-visual6.png" alt="">
                </div>
            </div>
            <div class="sub__navigation">
                <div class="wrap flex">
                    <a href="/" class="home">홈</a>
                    {% include './layout/nselect.njk' %}
                    {% include './layout/nselect.njk' %}
                    {% include './layout/nselect.njk' %}
                    <a href="" class="link">기증희망등록 신청</a>
                </div>
            </div>
        </div>

        <div class="sub__content">
            {% include './layout/lnb6.njk' %}
            <div class="wrap">
                <div class="sub__header">
                    <h2>법률·학술자료</h2>
                </div>
                <div class="memorial__search-form mb-8">
                    <div class="select" style="margin:0;margin-right: 10px;">
                        <select name="" id="">
                            <option value="">전체분류</option>
                            <option value="">법률·학술자료</option>
                            <option value="">교육자료</option>
                        </select>
                    </div>
                    <div class="select" style="margin:0;margin-right: 10px;">
                        <select name="" id="">
                            <option value="">전체</option>
                        </select>
                    </div>
                    <div class="input name mobile-mt-10">
                        <input type="text" placeholder="">
                    </div>
                    <button class="submit">검색하기</button>
                </div>
                <div class="memorial__detail-content">
                    <div class="table promote__table effectNone">
                        <table>
                            <colgroup>
                                <col class="col1">
                                <col class="col1">
                                <col class="col">
                                <col class="col3">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>구분</th>
                                    <th>제목</th>
                                    <th>등록일</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>253</td>
                                    <td>법률</td>
                                    <td>
                                        <a href="">
                                           호스피스ㆍ완화의료 및 임종과정에 있는 환자의 연명의료결정에 관한 법률 시행규칙
                                        </a>
                                    </td>
                                    <td>2020-10-06</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                {% include './includes/pagination.njk' %}
            </div>
        </div>
    </div>
{% endblock %}
