{% extends 'layout/base.njk' %}

{% block content %}
    <div class="sub information">
        <div class="sub__visual">
            <div class="sub__pagename">
                <div class="wrap">
                    <h2>정보공개</h2>
                    <p>기증/이식 현황 등을 한눈에 보실 수 있습니다.</p>
                    <img class="img" src="./assets/images/sub-visual6.png" alt="">
                </div>
            </div>
            <div class="sub__navigation">
                <div class="wrap flex">
                    <a href="/" class="home">홈</a>
                    {% include './layout/nselect.njk' %}
                    {% include './layout/nselect.njk' %}
                    {% include './layout/nselect.njk' %}
                    <a href="" class="link">기증희망등록 신청</a>
                </div>
            </div>
        </div>

        <div class="sub__content">
            {% include './layout/lnb.njk' %}
            <div class="wrap">
                <div class="sub__header">
                    <h2>이식 현황</h2>
                </div>
                <div class="info__content">
                    <div class="subTit flex justify-between">
                        <h3 class="flex items-center">
                            뇌사기증자 장기이식현황
                        </h3>
                        <div class="button">
                            <a href="" class="download flex">
                                <i></i>
                                장기이식통계자료 다운로드
                            </a>
                        </div>
                    </div>
                    <div class="scrollbox2">
                        <div class="table infoTable border-orange thin">
                            <table>
                                <colgroup>
                                    <col width="200px" class="m-width-100">
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th rowspan="2">연도</th>
                                        <th rowspan="2">뇌사자(명)</th>
                                        <th colspan="8">이식건수</th>
                                        <th class="orange" rowspan="2">Total</th>
                                    </tr>
                                    <tr>
                                        <th>신장</th>
                                        <th>간</th>
                                        <th>췌장</th>
                                        <th>심장</th>
                                        <th>폐</th>
                                        <th>췌도</th>
                                        <th>소장</th>
                                        <th>각막</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="font-bold">2019</td>
                                        <td class="font-bold">450</td>
                                        <td class="font-bold">794</td>
                                        <td class="font-bold">391</td>
                                        <td class="font-bold">75</td>
                                        <td class="font-bold">194</td>
                                        <td class="font-bold">157</td>
                                        <td class="font-bold">1</td>
                                        <td class="font-bold">0</td>
                                        <td class="font-bold">192</td>
                                        <td class="font-bold bg-orange orange">1,804</td>
                                    </tr>
                                    {% for i in[
                                        1,
                                        2,
                                        3,
                                        4,
                                        5,
                                        6,
                                        7,
                                        1,
                                        2,
                                        3,
                                        4,
                                        5,
                                        6,
                                        7
                                    ] %}
                                        <tr>
                                            <td>2018</td>
                                            <td>449</td>
                                            <td>111</td>
                                            <td>222</td>
                                            <td>222</td>
                                            <td>33</td>
                                            <td>44</td>
                                            <td>555</td>
                                            <td>66</td>
                                            <td>11</td>
                                            <td class="bg-orange orange">44</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Total</td>
                                        <td>5,586</td>
                                        <td>5,586</td>
                                        <td>5,586</td>
                                        <td>5,586</td>
                                        <td>5,586</td>
                                        <td>5,586</td>
                                        <td>5,586</td>
                                        <td>5,586</td>
                                        <td>5,586</td>
                                        <td>5,586</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
