{% extends 'layout/base.njk' %}

{% block content %}
    <div class="sub information">
        <div class="sub__visual">
            <div class="sub__pagename">
                <div class="wrap">
                    <h2>정보공개</h2>
                    <p>기증/이식 현황 등을 한눈에 보실 수 있습니다.</p>
                    <img class="img" src="./assets/images/sub-visual6.png" alt="">
                </div>
            </div>
            <div class="sub__navigation">
                <div class="wrap flex">
                    <a href="/" class="home">홈</a>
                    <div class="select">
                        <select name="" id="">
                            <option value="">정보공개</option>
                        </select>
                    </div>
                    <div class="select select--depth">
                        <select name="" id="">
                            <option value="">정보공개</option>
                        </select>
                    </div>
                    <div class="select select--depth">
                        <select name="" id="">
                            <option value="">정보공개제도 안내·청구</option>
                        </select>
                    </div>
                    <a href="" class="link">기증희망등록 신청</a>
                </div>
            </div>
        </div>

        <div class="sub__content">
            {% include './layout/lnb.njk' %}
            <div class="wrap">
                <div class="sub__header">
                    <h2>정보공개제도 안내·청구</h2>
                </div>
                <div class="info__content">
                    <div class="tab-area">
                        <div class="tabBtn flex type2">
                            <a href="">정보공개제도 안내</a>
                            <a href="" class="active">정보공개 청구</a>
                        </div>
                        <div class="tabCont">
                            <div class="tabItem">
                                <div class="box">
                                    <div class="top-txtBox flex items-center">
                                        <div class="img">
                                            <img src="./assets/images/info-top-img2.png" alt="" class="">
                                        </div>
                                        <div class="txt">
                                            <h3 class="flex items-center">
                                                <span>대한민국정보공개포털을 이용한 청구</span>
                                            </h3>
                                            <p>
                                                한국장기조직기증원은 정보 공개 서비스 접근성 향상을 위해 <a href="">대한민국정보공개포털 (www.open.go.kr)</a>을 통해<br/>
                                                정보공개신청을 접수 받고 있습니다.<br/>
                                                - 정보공개 청구 건의 처리상태 추적 및 확인 서비스 제공<br/>
                                                - 일원화된 정보공개 행정서비스 제공
                                            </p>
                                        </div>
                                    </div>
                                    <div class="button ml-auto flex type2 justify-end">
                                        <a href="" class="vertical flex">
                                            <i></i>
                                            정보공개 청구 신청
                                        </a>
                                        <a href="" class="vertical flex">
                                            <i></i>
                                            정보공개 이용안내
                                        </a>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="subTit">
                                        <h3 class="mb-4">한국장기조직기증원 직접 청구</h3>
                                        <p clsss="font-medium" style="font-size: 18px;">직접방문하시거나, 팩스, 이메일등으로 정보공개를 청구 하실 수 있습니다.</p>
                                    </div>
                                    <div class="table border-orange infoTable">
                                        <table>
                                            <colgroup>
                                                <col width="200px">
                                                <col>
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <td class="bg-gray">정보공개 담당자</td>
                                                    <td class="text-left px-4">총무인사팀장 임종성</td>
                                                </tr>
                                                <tr>
                                                    <td class="bg-gray">담당자 연락처</td>
                                                    <td class="text-left px-4">02-3447-5632~4</td>
                                                </tr>
                                                <tr>
                                                    <td class="bg-gray">담당자 e-mail</td>
                                                    <td class="text-left px-4">koda@koda1458.kr</td>
                                                </tr>
                                                <tr>
                                                    <td class="bg-gray">우편 및 방문 주소</td>
                                                    <td class="text-left px-4">(우)03741 서울시 서대문구 충정로 36 국민연금공단충정로사옥5층 한국장기조직기증원 </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}