{% extends 'layout/base.njk' %}

{% block content %}
    <div class="sub company">
        <div class="sub__visual">
            <div class="sub__pagename">
                <div class="wrap">
                    <h2>KODA</h2>
                    <p>장기·조직 기증 활성화를 통한 생명나눔 가치 실현</p>
                    <img class="img" src="./assets/images/sub-visual7.png" alt="">
                </div>
            </div>
            <div class="sub__navigation">
                <div class="wrap flex">
                    <a href="/" class="home">홈</a>
                    {% include './layout/nselect.njk' %}
                    {% include './layout/nselect.njk' %}
                    <a href="" class="link">기증희망등록 신청</a>
                </div>
            </div>
        </div>

        <div class="sub__content">
            {% include './layout/lnb.njk' %}
            <div class="wrap">
                <div class="sub__header">
                    <h2>비전·역할</h2>
                </div>
                <div class="company__content company__vision text-center mt-16">
                    <img src="./assets/images/vision.png" alt="" class="inline-block">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
